<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
                <div class="universo-name pull-right">
                    <img ng-click="backUniverso();" src="../../images/universos/fisica.png" width="80">
                    </div>
                <br><br><br>
                <h1 class="mundo-titulo">¿QUÉ MUNDO QUIERES EXPLORAR?</h1>
            </div>

            <div class="col-sm-3 item-mundo" ng-click="openNivel()">
                <img src="../../images/mundo/unlocked.png" width="100%">
                <p class="text-plumon text-size-md">VECTORES</p>
            </div>

            <div class="col-sm-3 item-mundo" ng-click="openNivel()">
                <img src="../../images/mundo/unlocked.png" width="100%">
                <p class="text-plumon text-size-md">CINEMÁTICA</p>
            </div>

            <div class="col-sm-3 item-mundo">
                <img src="../../images/mundo/locked.png" width="100%">
                <p class="text-plumon text-size-md">DINÁMICA</p>
            </div>

            <div class="col-sm-3 item-mundo">
                <img src="../../images/mundo/locked.png" width="100%">
                <p class="text-plumon text-size-md">TRABAJO Y ENERGIA</p>
            </div>
        </div>
    </div>
    <div class="col-sm-1">&nbsp;</div>
</div>